body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(225deg, rgb(0, 0, 64), rgb(0, 17, 84), rgb(0, 38, 113), rgb(0, 63, 150), rgb(0, 93, 195));
}

.gameName {
    font-size: 80px;
    /* color: ; */
}

#playButton {
    margin-bottom: 10px;
    border-radius: 5px;
    width: 90px;
    height: 40px;
    font-size: 20px;
    color: black;
}

#moreButton {
    margin-bottom: 10px;
    border-radius: 5px;
    width: 90px;
    height: 40px;
    font-size: 20px;
    color: black;
}

.shop {
    height: 600px;
    width: 600px;
    background-color: gray;
    margin: 20px;
    border-radius: 20px;
}

button {
    margin: 10px;
    border-radius: 5px;
    width: 90px;
    height: 40px;
    font-size: 20px;
    color: black;
    margin-bottom: 0;
}

.textOne {
    font-size: 20px;
    color: greenyellow;
    margin: 10px;
}

.textTwo {
    font-size: 20px;
    color: red;
    margin: 10px;
}

.price {
    color: white;
}